
.signup{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
}
.form_container2{
    width: 55%;
    height: 430px;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-top: 2%;
    border-radius: 2%;
}
form{
    /* background-color: lightblue; */
    width: 30%;
    height: 77%;
    text-align: center;
    padding: 20px;
    padding-left: 30px;
    border-radius: 10px;
    /* border: 1px solid blue; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.img-div{
    width: 150px;
    height: 50px;
    margin: auto;
    margin-bottom: -3%;
    margin-top: 1%;
}
.img-div>img{
    width: 100%;
    height: 100%;
}
#lab{
    font-size: 18px;
    
    
    
}
.signinp{
    width: 350px;
    height: 25px;
    
}
#subbtn{

    width: 70px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
   

}
#msg{
    color: red;
}

/* .loginbtn>a{
    background-color: darkgray;
    text-decoration: none;
    font-size: 20px;
    color: brown;
} */
/* .loginbtn>a>button{
   background-color: blue;
   color: white;
}
.loginbtn{
    margin: auto;
    width: 10%;
} */

.form_container2>h2{
   
   font-size: 25px;
   margin-left: 30px;
   margin-top: 0%;
   margin-bottom: 0%;
    font-family: calibri;
    
}

form>#subbtn1{
    width: 70px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 0%;
    margin-left: -50%;
    border: none;
}
#subbtn1:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
}

#signup_form>input{
    border: 0.5px solid black;
    border-radius: 0%;
    font-weight: lighter;
}