.main_Task{
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 25%;
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(68, 68, 146);
    color: white;
    font-size: 20px;
    font-family: calibri;
    font-weight: bold;
    border-radius: 5px;
}

.main_Task>div{
    width: 100%;
}
p{
    margin: 0%;
    margin-bottom: 2%;
}
.main_Task>div>input,.main_Task>div>select{
    width: 90%;
    margin: auto;
    height: 30px;
    font-size: 20px;
}
.main_Task>div>textarea{
    width:90% ;
    font-size: 20px;
}
h2{
    color: yellow;
    background-color: rgb(161, 151, 151);
    text-align: center;
    margin: 0%;
    border-radius: 5px;
    font-family: calibri;
}

button{
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgb(47, 31, 31);
    color: white;
    border: none;
}
button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}